.profile {
  display: block;
  margin: 20px auto;
  width: 300px;
  border: 2px solid #797979;
  border-radius: 5px;
  background-color: #d1e3ff;

  -webkit-box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
  -moz-box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
  box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
}

.description {
  width: 100%;
  margin-bottom: 30px;
}

.avatar {
  display: block;
  background-color: #ffffe6;
  border: 2px #797979 solid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 40px auto 30px auto;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0 0 10px 0;
}

.tag {
  font-size: 16px;
  text-align: center;
  color: #797979;
  margin: 0 0 10px 0;
}

.location {
  font-size: 16px;
  text-align: center;
  color: #797979;
  margin: 0;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  border-top: 2px solid #d2d2d2;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% / 3);
  background-color: #d5ebf4;
  padding: 10px 0;
}

.item:not(:last-child) {
  border-right: 2px solid #d2d2d2;
}
