.friendList {
  display: block;
  margin: 20px auto 0 auto;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d1e3ff;
  border: 2px #c2c2c2 solid;
  border-radius: 5px;
  padding: 10px 0;

  -webkit-box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
  -moz-box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
  box-shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}
