$app-background-color: #75bb85;
$user-is-online-color: #00ff00;
$user-is-offline-color: #ff0808;

$main-background-color: #d1e3ff;
$main-border-color: #797979;
$secondary-border-color: #d2d2d2;
$friend-list-item-border-color: #c2c2c2;

$name-text-color: #000000;
$statistics-text-color: #ffffff;
$transaction-hystory-head-table-background: #9cd9d3;

$shadow: 13px 5px 10px 3px rgba(75, 75, 75, 0.3);
$border-radius: 5px;

$width: 320px;